{"openapi":"3.1.0","info":{"title":"Jupiter API","description":"Solana token swap, price, search, and portfolio via Jupiter","version":"1.0.0","contact":{"name":"Platform Team"}},"servers":[{"url":"https://registry.frames.ag/api/service/jupiter","description":"Production"}],"tags":[{"name":"jupiter","description":"Solana token swap, price, search, and portfolio via Jupiter"}],"paths":{"/":{"get":{"summary":"Get service metadata","operationId":"getMetadata","tags":["jupiter"],"responses":{"200":{"description":"Service metadata","content":{"application/json":{"schema":{"type":"object","properties":{"slug":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"version":{"type":"string"}}}}}}}}},"/health":{"get":{"summary":"Health check","operationId":"healthCheck","tags":["jupiter"],"responses":{"200":{"description":"Service is healthy","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["healthy"]},"timestamp":{"type":"string","format":"date-time"}}}}}}}}},"/api/swap":{"post":{"summary":"POST /api/swap","operationId":"post_api_swap","tags":["jupiter"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"const":true},"source":{"type":"string","enum":["ultra","v6"]},"transaction":{"type":"string"},"requestId":{"type":"string"},"inAmount":{"type":"string"},"outAmount":{"type":"string"},"inputMint":{"type":"string"},"outputMint":{"type":"string"},"payment":{"type":"object","properties":{"paidBy":{"type":"string"},"txHash":{"type":"string"}},"required":["paidBy","txHash"]}},"required":["success","source","transaction"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"inputMint":{"type":"string","minLength":1},"outputMint":{"type":"string","minLength":1},"amount":{"type":"number","minimum":0},"taker":{"type":"string","minLength":1},"slippageBps":{},"referralAccount":{"type":"string"},"referralFee":{"type":"number","minimum":0}},"required":["inputMint","outputMint","amount","taker"]}}}},"security":[{"x402":[]}],"description":"**Paid endpoint** - $0.01 on Base (USDC, USDT), Solana (USDC, USDT, CASH)"}},"/api/price":{"post":{"summary":"POST /api/price","operationId":"post_api_price","tags":["jupiter"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"const":true},"data":{},"payment":{"type":"object","properties":{"paidBy":{"type":"string"},"txHash":{"type":"string"}},"required":["paidBy","txHash"]}},"required":["success","data"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{}},"required":["ids"]}}}},"security":[{"x402":[]}],"description":"**Paid endpoint** - $0.002 on Base (USDC, USDT), Solana (USDC, USDT, CASH)"}},"/api/tokens":{"post":{"summary":"POST /api/tokens","operationId":"post_api_tokens","tags":["jupiter"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"const":true},"tokens":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"},"name":{"type":"string"},"symbol":{"type":"string"},"decimals":{"type":"number"},"logoURI":{"type":"string"}}}},"payment":{"type":"object","properties":{"paidBy":{"type":"string"},"txHash":{"type":"string"}},"required":["paidBy","txHash"]}},"required":["success","tokens"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string","minLength":1}},"required":["query"]}}}},"security":[{"x402":[]}],"description":"**Paid endpoint** - $0.002 on Base (USDC, USDT), Solana (USDC, USDT, CASH)"}},"/api/portfolio":{"post":{"summary":"POST /api/portfolio","operationId":"post_api_portfolio","tags":["jupiter"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"const":true},"positions":{"type":"array","items":{}},"payment":{"type":"object","properties":{"paidBy":{"type":"string"},"txHash":{"type":"string"}},"required":["paidBy","txHash"]}},"required":["success","positions"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","minLength":1},"platforms":{"type":"array","items":{"type":"string"}}},"required":["address"]}}}},"security":[{"x402":[]}],"description":"**Paid endpoint** - $0.005 on Base (USDC, USDT), Solana (USDC, USDT, CASH)"}}},"components":{"securitySchemes":{"x402":{"type":"apiKey","in":"header","name":"PAYMENT-SIGNATURE","description":"x402 v2 Multi-Chain Payment Scheme\n\nFor paid routes, include a payment authorization in the PAYMENT-SIGNATURE header.\nSupports both EVM (EIP-3009) and Solana (SPL Token) payments.\n\nFlow:\n1. Call the endpoint without payment\n2. Receive 402 response with PAYMENT-REQUIRED header (Base64-encoded JSON)\n3. Choose a supported network and create the appropriate signature\n4. Include payload as Base64-encoded JSON in PAYMENT-SIGNATURE header\n5. Retry the original request\n6. On success, receive PAYMENT-RESPONSE header with settlement confirmation\n\nEVM Payload format:\n{\n  \"x402Version\": 2,\n  \"scheme\": \"exact\",\n  \"network\": \"eip155:84532\",\n  \"payload\": {\n    \"signature\": \"0x...\",\n    \"authorization\": {\n      \"from\": \"0x...\",\n      \"to\": \"0x...\",\n      \"value\": \"10000\",\n      \"validAfter\": \"0\",\n      \"validBefore\": \"1700000000\",\n      \"nonce\": \"0x...\"\n    }\n  }\n}\n\nSolana Payload format:\n{\n  \"x402Version\": 2,\n  \"scheme\": \"exact\",\n  \"network\": \"solana:EtWTRABZaYq6iMfeYKouRu166VU2xqa1\",\n  \"payload\": {\n    \"signature\": \"base58...\",\n    \"transaction\": {\n      \"from\": \"base58...\",\n      \"to\": \"base58...\",\n      \"amount\": \"10000\",\n      \"mint\": \"base58...\",\n      \"recentBlockhash\": \"base58...\"\n    }\n  }\n}"}}}}
